.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 4px;
	margin-bottom: 24px;
	width: max-content;
	aspect-ratio: 1;
}

@media screen and (max-height: 700px) {
	.container {
		margin-bottom: 8px;
	}
}