@font-face {
	font-family: "Exa2";
	src: url("./shared/ui/assets/fonts/Exo2-VariableFont_wght.ttf");
}

:global :root {
	--white: #feffff;
	--black: #0e0e10;
	--cell-width: 4vmin;
}

@media screen and (max-width: 650px) {
	:global :root {
		--cell-width: 7vmin;
	}
}

@media screen and (max-height: 700px) and (max-width: 650px) {
	:global :root {
		--cell-width: 6vmin;
	}
}

@media screen and (min-height: 700px) and (max-width: 650px) {
	:global :root {
		--cell-width: 5vmin;
	}
}

:global * {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin: 0;
	padding: 0;
	font-family: "Exa2", sans-serif;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

:global body {
	min-height: 100vh;
	background-color: #404040;
	display: grid;
	place-items: center;
	margin: 0;
	overflow: hidden;
	overscroll-behavior: none;
}
