@font-face {
	font-family: "Exa2";
	src: url("./shared/ui/assets/fonts/Exo2-VariableFont_wght.ttf");
}

:global :root {
	--white: #feffff;
	--black: #0e0e10;

	--color-2: #ffffff;
	--color-4: #f0ecf6;

	--color-8: #d1c4e6;
	--color-16: #d1c6e4;
	--color-32: #c1b3db;
	--color-64: #b2a0d2;
	--color-128: #a28dc8;
	--color-256: #937abf;
	--color-512: #8367b6;
	--color-1024: #7454ad;
	--color-2048: #6441a4;

	--color-greater-then-2048: #4b0082;

	--cell-width: 4vmin;
}

@media screen and (max-width: 560px) {
	:global :root {
		--cell-width: 7vmin;
	}
}

:global * {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin: 0;
	padding: 0;
	font-family: "Exa2", sans-serif;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

:global body {
	min-height: 100vh;
	background-color: #404040;
	display: grid;
	place-items: center;
	margin: 0;
	overflow: hidden;
	overscroll-behavior-y: contain;
}
